@using OGRENCINOTMVC.Models.Entity
@model List<Tbl_Kulupler>
@{
    ViewBag.Title = "KulupList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <td>KULÜP ID</td>
            <td>KULÜP ADI</td>
            <td>KULÜP KONTENJAN</td>
            <td>İŞLEMLER</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.KULUPID</td>
                <td>@x.KULUPADI</td>
                <td>@x.KULUPKONTENJAN</td>
                <td>
                    <div>
                        <a href="/Kulup/K_Delete/@x.KULUPID" class="btn btn-danger">Sil</a>
                        <a href="/Kulup/K_Update/@x.KULUPID" class="btn btn-success">Güncelle</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Kulup/KulupEkle" class="btn btn-info">YENİ KULÜP EKLE</a>