@using OGRENCINOTMVC.Models.Entity
@model List<Tbl_Dersler>
@{
    ViewBag.Title = "DersListesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <td>DERS ID</td>
            <td>DERS ADI</td>
            <td>İŞLEMLER</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var dersler in Model)
        {
            <tr>
                <td>@dersler.DERSID</td>
                <td>@dersler.DERSAD</td>
                <td>
                    <div>
                        <a href="/Dersler/D_Delete/@dersler.DERSID" class="btn btn-danger">Sil</a>
                        <a href="/Dersler/DersGetir/@dersler.DERSID" class="btn btn-success">Güncelle</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a href="/Dersler/YeniDers" class="btn btn-primary">YENİ DERS KAYDI</a>
</div>