
@{
    ViewBag.Title = "YeniDers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div class="form-group">

        <div>
            <label>DERS ADI</label>
            <input type="text" name="DERSAD" class="form-control" placeholder="DERS ADI" required>
        </div>
        <br />
        <br />
        <div style="text-align:center;">
            <button class="btn btn-warning">DERSİ EKLE</button>
        </div>



    </div>

</form>

